#socialsgrid{
  display:grid;
  grid-template-columns: var(--sbento);
  max-width:1000px;
  gap:15px;
  margin:auto;
}
#socialsgrid a{
  padding:10px;
  background:var(--col);
  aspect-ratio: 3 / 1;
  display:flex;
  align-items:center;
  border-radius:10px;
  cursor:pointer;
  text-decoration: none;
}
#socialsgrid a[black] {
  color:black !important;
}
#socialsgrid a i{
  width:50px;
  text-align:left;
  margin-right:-60px;
  font-size:40px;
  transition:transform .2s ease,scale .2s ease;
  color:white !important;
}
#socialsgrid a[large] i{
  font-size:50px;
}
#socialsgrid .sgrad{
  width:70px;
  height:100%;
  z-index:1;
  background: linear-gradient(90deg, transparent 30%, var(--col) 91%);
  transition:transform .2s ease;
}
#socialsgrid .sdet{
  display:flex;
  flex-direction: column;
  z-index:3;
}
#socialsgrid .sdet *{
  font-size:1rem;
  color:white !important;
}
#socialsgrid .stitle{
  font-weight:bold;
  font-size:var(--sbig);
}
#socialsgrid .ssubtitle{
  font-size:var(--ssmall);
}
#socialsgrid a:hover i{
  transform:translatex(-10px);
  scale:1.15;
}
#socialsgrid a:hover .sgrad{
  transform:translatex(10px);
}