:root.light{
  --bg:#dfdfdf !important;
  --text:#070707 !important;
  --dots:#42424257 !important;
  --blurbg:#00000013 !important;
  --borderc:#0000002f !important;
  --borderci:#ffffff2f !important;
  --bgsub:#dfdfdf !important;
  --hovfilter:brightness(0.8) !important;
}
:root{
  --bg:#070707;
  --text:#dfdfdf;
  --dots:#e7e7e728;
  --blurbg:#ffffff13;
  --borderc:#ffffff2f;
  --borderci:#0000002f;
  --bgsub:#252525;
  --hovfilter:brightness(1.4);
}
:root{
  --border:1px solid var(--borderc);
  --borderi:1px solid var(--borderci);
}
*[center]{
  text-align:center;
}
h1[big]{
  font-size:45px;
}