:root{
  font-family:Inter;
}
@media (prefers-color-scheme: dark) {
  :root{
    --bg:#16181c;
    --page: #26292f;
    --raised: #434956;
    --text-main: #ecf9fb;
    --text-sub: #b0bac5;
    --accent: #eb8520;
    --hover-filter: brightness(1.2);
  }
}
@media (prefers-color-scheme: light) {
  :root{
    --bg:#E5E7EB;
    --page:#FFFFFF;
    --raised:#E5E7EB;
    --text-main:#1A202C;
    --text-sub:#101827;
    --accent: #fc8d1e;
    --hover-filter: brightness(0.9);
    --shadow:0px 0px 10px 5px rgba(0,0,0,0.1);
  }
}
body{
  background:var(--bg);
  margin:0px;
  display:flex;
  align-content: center;
  justify-content: center;
  flex-wrap:wrap;
  flex-direction: column;
}
#applist{
  width:calc(100vw - 50px);
  max-width:1000px;
  margin-top:10px;
}
#maintile{
  position: relative;
  width:100%;
  display:block;
  height: calc(33vw - 16px);
  max-height:333px;
}
#maintile > img{
  position: absolute;
  top:0px;
  left:0px;
  right:0px;
  width:calc(100vw - 50px);
  height:calc(33vw - 16px);
  max-height:333px;
  max-width:1000px;
  box-sizing:border-box;
  border-radius:10px;
  transition:border .3s ease;
  border:3px solid transparent;
}
#maintile > img:hover{
  border:3px solid white;
}
.blur{
  filter:blur(10px);
  z-index:1;
  position: absolute;
  left:10px;
  opacity:0.4
}
.blurh{
  filter:blur(20px);
  z-index:-1;
  opacity:0.4
}
#tags{
  margin-top:5px;
  background:var(--page);
  border-radius:10px;
  padding:10px 5px;
  box-sizing:border-box;
}
tag{
  background:var(--raised);
  border-radius:7.5px;
  padding:5px 10px;
  color:var(--text-sub);
  font-weight:500;
  cursor:pointer;
  transition:filter .3s ease, color .3s ease, background .3s ease;
}
tag:hover{
  filter:var(--hover-filter);
}
tag.active{
  background:var(--accent);
  color:black;
}
#tiles{
  margin-top:10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap:wrap;
}
a[tile]{
  cursor:pointer;
  width:122px;
  height:190px;
  padding:10px;
  background:var(--page);
  position: relative;
  display:flex;
  border-radius:10px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap:5px;
  border:3px solid var(--page);
  transition:all .3s ease;
  text-decoration: none;
  box-shadow:var(--shadow);
}
a[tile]:hover{
  border:3px solid white;
}
a[tile] img{
  border-radius:25px;
  width:128px;
  z-index:2;
}
a[tile] span.title{
  color:var(--text-main);
  font-weight:600;
}
a[tile] span.desc{
  color:var(--text-sub);
  font-weight:400;
  font-size:13px;
  text-align:center
}
.filtered{
  display:none !important;
}